<div
  class="single"
  [ngStyle]="{
    'background-image':
      'linear-gradient(180deg, rgba(0,0,0,0.7987570028011204) 17%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.9051995798319328) 97%), url(' +backGroundImage +')'
  }"
>
  <div class="container text-light p-5">
    <h1 class="display-4">Acerca de Game App</h1>
    <p class="lead mt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, labore dolorem. Sequi placeat quam reiciendis eveniet maiores libero non sapiente necessitatibus. Dolore praesentium quas corrupti perferendis. Nam alias quam fuga saepe porro enim delectus ab consequatur laboriosam veniam, natus officia distinctio iusto obcaecati labore? Voluptates ut magni corrupti voluptatum, ea voluptas, aspernatur, vitae reprehenderit rerum placeat eveniet et nam dolores qui necessitatibus deleniti? Delectus exercitationem, nostrum, velit quas assumenda consequuntur, labore consequatur soluta dolores debitis voluptatum in perspiciatis eligendi eaque beatae asperiores corrupti aliquam? Exercitationem in soluta aliquam delectus perspiciatis tempore corporis, adipisci autem iure dignissimos laudantium omnis quibusdam nemo.
    </p>
    <h4>Siguenos:</h4>
    <ul class="d-flex p-0 m-0">
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
