.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px;
  background-color: var(--first_color);
  color: var(--fifth_color);
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--fifth_color);
  text-shadow: -0.08em 0.08em var(--second_color);
  transition: color 0.7s ease-in-out, text-shadow 0.7s ease-in-out;
}

h1:hover {
  color: var(--second_color);
  text-shadow: -0.08em 0.08em var(--fifth_color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li{
  font-size: 2em;
}

ul li a{
  text-decoration: none;
  color: var(--fifth_color);
  transition: text-shadow 0.4s ease-in-out;
}

ul li a:hover{
  text-shadow: -0.08em 0.08em var(--second_color);
}

p {
  line-height: 1;
}

p a {
  font-family: "Teko", sans-serif;
  font-size: 1.3em;
  color: var(--fourth_color);
  font-weight: 400;
}
