<footer class="footer mt-5">
  <div class="container">
    <div class="d-flex flex-column align-items-center pt-4 pb-3">
      <a  [routerLink]="['/Lista']">
        <h1 class="m-0">Contacts App</h1>
      </a>
      <p class="m-0 text-center">Una app desarrollada con <a href="">Angular</a> <br> en <a href="">TMSC</a></p>
      <ul class="d-flex p-0 m-0">
        <li class="ml-2 mr-2">
          <a href="">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="ml-2 mr-2">
          <a href="">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="ml-2 mr-2">
          <a href="">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
