/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
}

p, a, span {
    font-family: 'Roboto', sans-serif;
}

.bg-dark {
    background-color: black!important;
}

.content {
    background-color: black;
}

.jumbotron {
    height: 90vh;
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 575.98px) {
    .content {
        padding: 5% 12% 2% 12%;
    }
    app-card-game {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .content {
        padding: 5% 12% 2% 12%;
    }
    app-card-game {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .content {
        padding: 5% 12% 2% 12%;
    }
    app-card-game {
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .content {
        padding: 5% 12% 2% 12%;
    }
    app-card-game {
        width: 33%;
    }
}

@media (min-width: 1200px) {
    .content {
        padding: 5% 12% 2% 12%;
    }
    app-card-game {
        width: 33%;
    }
}
