<div class="contact-card d-flex flex-column align-content-center m-2">
  <div class="contact-image d-flex justify-content-center">
    <div class="d-flex justify-content-center align-content-center pt-4 pb-2">
      <img
        src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        alt="contact-image"
        srcset=""
      />
    </div>
  </div>
  <div class="contact-info d-flex flex-column text-center">
    <h3 class="name">
      Nora jhons
    </h3>
    <p class="phone m-0">
      <i class="fa fa-phone"></i>
      +591 252354
    </p>
    <p class="email m-0">
      <i class="fa fa-envelope-open"></i>
      nora@nora.com
    </p>
  </div>
  <div class="contact-links d-flex justify-content-center mt-1 mb-1">
    <ul class="d-flex m-0 p-0">
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="ml-2 mr-2">
        <a href="">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="contact-details d-flex justify-content-center mb-4">
    <button (click)="navigate()" type="button" class="btn draw-border mt-2 mt-sm-0">
      DETALLES
    </button>
  </div>
</div>
