h1, label {
    color: var(--first_color);
}

small {
    color: var(--second_color);
}

h1 {
    font-size: 3em;
    text-decoration: underline;
}

label {
    font-family: "Teko", sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
}