<h1 class="text-center mb-4 mt-4">Crear Contacto</h1>
<div class="pl-2 pr-2 pl-md-5 pr-md-5">
  <form class="d-flex flex-column">

    <div class="d-flex flex-column flex-md-row">
      <!-- First  Name-->
      <div class="form-group p-3">
        <label for="firstName">
          Primer nombre:
        </label>
        <input
          id="firstName"
          class="form-control"
          name="firstName"
          type="text"
          placeholder="Primer nombre"
          aria-describedby="firstNameHelp"
        />
        <small id="firstNameHelp" class="">
          Ingresa el primer nombre
        </small>
      </div>
      <!-- Second Name -->
      <!-- <div class="form-group p-3">
        <label for="secondName">
          Segundo nombre:
        </label>
        <input
          id="secondName"
          class="form-control"
          name="secondName"
          type="text"
          placeholder="Segundo nombre"
          aria-describedby="secondNameHelp"
        />
        <small id="secondNameHelp" class="">
          Ingresa tu segundo nombre
        </small>
      </div> -->

      <!-- First  Surname-->
      <div class="form-group p-3">
        <label for="firstSurname">
          Primer apellido:
        </label>
        <input
          id="firstSurname"
          class="form-control"
          name="firstSurname"
          type="text"
          placeholder="Primer apellido"
          aria-describedby="firstSurnameHelp"
        />
        <small id="firstSurnameHelp" class="">
          Ingresa el primer apellido
        </small>
      </div>

      <!-- Second Surname -->
      <!-- <div class="form-group p-3">
        <label for="secondSurname">
          Segundo apellido:
        </label>
        <input
          id="secondSurname"
          class="form-control"
          name="secondSurname"
          type="text"
          placeholder="Segundo apellido"
          aria-describedby="secondSurnameHelp"
        />
        <small id="secondSurnameHelp" class="">
          Ingresa tu segundo apellido
        </small>
      </div> -->
    </div>

    <div class="d-flex flex-column flex-md-row">
      <!--Cell Phone-->
      <div class="form-group p-3">
        <label for="cellPhone">
          Telefono:
        </label>
        <input
          id="cellPhone"
          class="form-control"
          name="cellPhone"
          type="text"
          placeholder="0000"
          aria-describedby="cellPhoneHelp"
        />
        <small id="cellPhoneHelp" class="">
          Ingresa un numero de telefono
        </small>
      </div>
      
      <!-- email -->
      <div class="form-group p-3">
        <label for="email">
          Correo Electrónico
        </label>
        <input
          id="email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Example@example.com"
        />
        <small id="emailHelp" class="">
          Ingresa un correo electrónico.
        </small>
      </div>
    </div>

    <!-- send form -->
    <div class="text-center mt-4">
      <button class="btn draw-border mt-2 mt-sm-0" type="submit">
        GUARDAR
      </button>
    </div>
  </form>
</div>
