<nav class="navbar pl-0 pr-0 pt-4 pb-4">
  <div class="container justify-content-center justify-content-md-between">
      <a [routerLink]="['/Lista']">
        <h1 class="m-0">Contacts App</h1>
      </a>
      <form class="form-inline justify-content-center mt-4 mt-md-0">
        <input
          class="form-control"
          type="search"
          placeholder="Buscar contacto"
          aria-label="Search"
        />
        <button class="btn draw-border mt-2 mt-sm-0" type="submit">
          BUSCAR
        </button>
      </form>
  </div>
</nav>
