<!-- Modal -->
<div class="modal d-block">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Crear tarea</h5>
				<button (click)="close()" type="button" class="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="title">Titulo:</label>
						<input #newtitle type="text" class="form-control" id="title" aria-describedby="titleHelp"
							value="{{ task.title }}" autocomplete="off" />
						<small id="titleHelp" class="form-text text-muted">Ingresa el titulo de tu nueva tarea.</small>
					</div>
					<div class="form-group">
						<label for="task">Descripción:</label>
						<input #newtask type="text" class="form-control" id="task" aria-describedby="taskHelp"
							value="{{ task.description }}" autocomplete="off" />
						<small id="taskHelp" class="form-text text-muted">Ingresa la descripción de la tarea.</small>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button (click)="close()" type="button" class="btn btn-warning" data-dismiss="modal">
					Cerrar
				</button>
				<button (click)="update(newtitle, newtask)" type="button" class="btn btn-info" data-dismiss="modal">
					Actualizar
				</button>
			</div>
		</div>
	</div>
</div>